<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/upload/asc" method="post" enctype="multipart/form-data" >
    <p>IP：<input type="input" name="ip" ></p>
    <p>PORT：<input type="input" name="port"></p>
    <p>参数：<input type="input" name="x"></p>
    <p>minearea：<input type="input" name="minearea"></p>
    <p><input type="file" name="file" ></p>
    <p><input type="submit"  ></p>
</form>
<img style="width:180px" src="data:;base64,{{ img_stream }}">
</body>
